@font-face {
    font-family: CircularStd-Medium;
    src: url("../Font\ -\ Circular/CircularStd-Medium.otf") format("opentype");
}

@font-face {
    font-family: CircularStd-Bold;
    font-weight: 900;
    src: url("../Font\ -\ Circular/CircularStd-Bold.otf") format("opentype");
}

body {
    font-family: 'CircularStd-Medium', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-weight: 300;
    color: #000;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 25px;
}

h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

h4 {
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
}

p {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 450;
    line-height: 30px;
}

.bar {
    background-color: #3A444F;
    height: 10px;
    position: absolute;
    width: 100%;
}

.error-section {
    background-image: url("../images/error-page-background.jpg");
    background-size: cover;
    background-position: center 10px;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

.mobile-error-image {
    display: none;
}

.error-section .container,
.error-section .row {
    height: 100%;
}

.error-section .row {
    align-items: center;
}

.color-orange {
    color: #E77F5B;
}

.error-text {
    margin-top: 40px;
    margin-bottom: 100px;
}

.error-text h3 {
    margin-bottom: 17px;
}

.error-text h1 {
    margin-bottom: 41px;
}

.error-list-wrap {
    margin-top: 70px;
}

.error-list-wrap .fw-bold {
    margin-bottom: 19px;
}

.error-list {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-bottom: 30px;
}

.error-list p {
    margin: 0px;
}

@media screen and (max-width: 767px) {
    .error-section .container,
    .error-section .row {
        height: unset;
    }

    .bar {
        position: relative;
    }

    .error-section {
        background-image: none;
    }

    .mobile-error-image {
        display: block;
    }

    .error-list-wrap {
        margin-top: 28px;
    }

    .error-list {
        gap: 8px;
        margin-bottom: 15px;
    }

    .error-list-wrap .error-list img {
        width: 18px;
    }

    .error-list-wrap .fw-bold {
        font-size: 18px;
        line-height: 28px;
    }

    .error-section .row {
        align-items: unset;
    }

    .error-text {
        margin-top: 14px;
        margin-bottom: 0px;
    }

    .error-text h3 {
        font-size: 18px;
        line-height: 48px;
        margin-bottom: 0px;
    }

    .error-text h1 {
        font-size: 28px;
        line-height: 48px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        line-height: 20px;
    }
}